problem o/f={{ oxid_fuel_ratio }}, 
      rocket  frozen  nfz=2 
  p,bar={{ chamber_pressure }},
  pi/p={{ pressure_ratio }},
react  
  oxid={{ oxidant_name }} wt=1  t,k={{ oxidant_temperature }}  
  fuel={{ fuel_name }}  wt=1  t,k={{ fuel_temperature }}
end